#input-part-top-stair {
    margin: 5px;
}

.left-title-column {
    white-space: nowrap
}

#post_content_preview {
    width: 500px;
}

#post_content_preview > div > table{
    border-spacing: 20px 2px;
}

#post_content_preview.hidden{
    display: none;
}

#apply {
    text-align: center;
}

#histories {
    width: 800px;
}

.history_box {
    border-spacing: 20px 2px;
}

#history_template {
    display: none;
}

.not-cheked {
    color: red;
}

.history-more {
    border-width: 6px;
    border-radius: 12px;
    border-color: #045FB4;
    background: #2E9AFE;
}
